/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Set Material color palette variables */
:root {
    --text-color: #000000;
    --btn-bg-color: #0288D1;
    --btn-border-color: #039BE5;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --btn-bg-color: #29B6F6;
        --btn-border-color: #81D4FA;
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}




a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.btn-primary {
    color: var(--text-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--text-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
}

.border-top {
    border-top: 1px solid #37474F;
}

.border-bottom {
    border-bottom: 1px solid #37474F;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: var(--text-color);
}