@{

    ViewData["Title"] = "Page Not Found";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Oops!</h1>
            <p class="text-center">We're sorry, but the page you were looking for could not be found.</p>
            <div class="text-center">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
